.progress-section {
    width: 100%;
    background-color: #f3f3f3;
    margin: 20px 0;
    height: 10px;
    border-radius: 5px;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: #4CAF50;
    border-radius: 5px;
    /* transition: width 0.3s; */
}

.complete {
    background-color: green;
}