.warning-section,
.actions {
    margin-top: 20px;
}

.options label {
    justify-content: space-between;
    display: block;
    margin-bottom: 5px;
    color: #ff4500;
    padding-bottom: 2%;
}

.url,
.filename,
.destination {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ff4500;
    border-radius: 5px;
    color: #ff4500;
}

.options {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
}


.btn {
    padding: 10px 15px;
    padding-top: 1%;
    padding-bottom: 1%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    background-color: #ff4500;
    color: white;
}

.btn:hover {
    background-color: #e91010;
}

.downloads-section {
    padding-bottom: 2%;
    padding: 10px;
    display: grid;
}

.options {
    margin: 2% auto;
    border-color: rgb(212, 32, 32);
    justify-content: center;
    text-align: center;
}

.file-downloader .input-section {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.file-downloader .input-group {
    flex: 1;
    padding-top: 4%;
    padding-bottom: 4%
}

.downloads-table {
    padding-top: 4%;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.downloads-table th,
.downloads-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.downloads-table th {
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #efe70b;
}

.error-message {
    color: red;
}